/*
Styles for admin page
*/
.features-list {

}
.features-input {
    width: 100% !important;
    margin-bottom: 5px !important;
}

.add-features-input {
    cursor: pointer;
    float: right;
    margin-left: 0 !important;
    margin-top: 8px !important;
    outline: 0 none;
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
}
.add-features-input:before {
    content: "\f132";
    display: inline-block;
    font: 400 20px/1 dashicons;
    left: -2px;
    position: relative;
    top: -1px;
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    vertical-align: middle;
}


