/*Fonts*/
.glyphicon-font {
    font-family:'Glyphicons Halflings';
}
.ubuntu-font {
    font-family: 'Ubuntu', sans-serif;
}
/*Fonts*/


.placeholder {

    &::-webkit-input-placeholder {
        opacity: 0.7;
        filter: alpha(opacity=70);
    }
    &:-moz-placeholder {
        opacity: 0.7;
        filter: alpha(opacity=70);
    }
    &::-moz-placeholder {
        opacity: 0.7;
        filter: alpha(opacity=70);
    }
    &:-ms-input-placeholder {
        opacity: 0.7;
        filter: alpha(opacity=70);
    }
    &:focus::-webkit-input-placeholder {
        color: transparent;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    &:focus:-moz-placeholder {
        color: transparent;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    &:focus::-moz-placeholder {
        color: transparent;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    &:focus:-ms-input-placeholder {
        color: transparent;
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

.border-radius(@r:0px) {
    border-radius: @r;
    -moz-border-radius: @r;
    -webkit-border-radius: @r;
    -khtml-border-radius: @r; 
}

.round-corners(@lt:0px, @rt:0px, @rb:0px, @lb:0px) {
    border-radius: @lt @rt @rb @lb;
    -moz-border-radius: @lt @rt @rb @lb;
    -webkit-border-radius: @lt @rt @rb @lb;
}

.transition(@for: all, @time: 0.1s, @effect: linear, @delay: 0s) {
    -webkit-transition: @for @time @effect @delay;		 
    -moz-transition: @for @time @effect @delay;
    -o-transition: @for @time @effect @delay;
    transition: @for @time @effect @delay;
}

.box-shadow(@x, @y, @z, @color) {
    box-shadow: @x @y @z @color;
    -moz-box-shadow: @x @y @z @color;
    -webkit-box-shadow: @x @y @z @color;
}

.box-shadow-inset(@x, @y, @z, @color) {
    box-shadow: inset @x @y @z @color;
    -moz-box-shadow: inset @x @y @z @color;
    -webkit-box-shadow: inset @x @y @z @color;
}

.text-shadow(@x, @y, @z, @color) {
    text-shadow: @x @y @z @color;
    -moz-text-shadow: @x @y @z @color;
    -webkit-text-shadow: @x @y @z @color;
}

.rotate(@deg: 0deg) {
    transform: rotate(@deg);
    -moz-transform: rotate(@deg);
    -webkit-transform: rotate(@deg);
}

.clearfix {

    &:before {
        display: block;
        content: "";
        clear: both;
    }
    &:after {
        display: block;
        content: "";
        clear: both;
    }
}
.clearfix-disable {

    &:before {
        display: none;
    }
    &:after {
        display: none;
    }
}

.default-input-style {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    &:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    }
}

.submit-button-style {
    .border-radius(4px);
    .transition(all, 0.15s, ease-in-out, 0s);
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
    &:hover {
        background-color: #286090;
        border-color: #204d74;
        color: #fff;
    }
}
