/*
Styles for default wordpress widgets
*/
.widget_calendar table#wp-calendar {
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  width: 100%;
}
.widget_calendar table#wp-calendar caption {
  color: #777;
  font-size: 16px;
  font-weight: bold;
  padding: 0 0 10px;
  text-align: center;
}
.widget_calendar table#wp-calendar th {
  text-align: center;
}
.widget_calendar table#wp-calendar th,
.widget_calendar table#wp-calendar td {
  padding: 3px 0;
}
.widget_calendar table#wp-calendar tbody tr {
  background-color: #EEE;
}
.widget_calendar table#wp-calendar tbody tr:nth-child(2n) {
  background-color: #FFF;
}
/*widget_calendar*/
.widget_archive label.screen-reader-text {
  display: block;
}
.widget_archive .bootstrap-select {
  width: 100% !important;
}
.widget_archive .bootstrap-select.btn-group:not(.input-group-btn),
.widget_archive .bootstrap-select.btn-group[class*="col-"] {
  width: 100%;
}
.widget_archive ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*widget_archive*/
.widget_categories label.screen-reader-text {
  display: block;
}
.widget_categories .bootstrap-select {
  width: 100% !important;
}
.widget_categories > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget_categories > ul > li .children {
  margin: 0;
  padding: 0 0 0 20px;
  list-style: none;
}
.widget_categories > ul > li .children li:before {
  content: "- ";
  display: inline-block;
  margin-left: -5px;
  margin-right: 5px;
  position: relative;
}
/*widget_categories*/
.widget_nav_menu ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget_nav_menu ul.menu > li .sub-menu {
  margin: 0;
  padding: 0 0 0 20px;
  list-style: none;
}
.widget_nav_menu ul.menu > li .sub-menu li:before {
  content: "- ";
  display: inline-block;
  margin-left: -5px;
  margin-right: 5px;
  position: relative;
}
/*widget_nav_menu*/
.widget_pages > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget_pages > ul > li .children {
  margin: 0;
  padding: 0 0 0 20px;
  list-style: none;
}
.widget_pages > ul > li .children li:before {
  content: "- ";
  display: inline-block;
  margin-left: -5px;
  margin-right: 5px;
  position: relative;
}
/*widget_nav_menu*/
