@import "components";

/* Property styles
----------------------------------------------------------------------------- */
.panel-grid-cell {
    word-wrap: break-word;
}
.wpp_property_overview_shortcode {

    .properties_pagination {
        margin-bottom: 10px;

        .wpp_property_results_options {
            line-height: 30px;
            display: block;
            .clearfix;

            .wpp_property_results {
                font-weight: 600;
                display: block;
                float: left;
                width: 30%;
            }
            .wpp_sorter_options {
                text-align: right;
                display: block;
                float: right;
                width: 70%;

                .wpp_sort_by_text {
                    font-weight: 600;
                }
                .wpp_sortable_link {
                    cursor: pointer;
                    font-size: 100%;
                }
            }
        }
        .wpp_pagination_slider_wrapper {
            margin: 10px 0;
            .clearfix;

            .wpp_pagination_button {
                float: left;
                padding: 1px 7px;
                border-radius: 2px;
                background-color: #5bc0de;
                color: #FFF;
                margin: 0 5px 0 0;
                cursor: pointer;
            }
            .wpp_pagination_slider {
                background-color: #efefef;
                border: 1px solid #c6c7ca;
                .border-radius(2px);
                .box-shadow-inset(0, 0, 2px, rgba(0, 0, 0, 0.15));
                float: right;
                height: 10px;
                position: relative;
                top: 6px;
                width: auto;

                .ui-slider-handle {
                    .transition(left, 0.15s, ease-in-out, 0s);
                    margin-left: -10px;
                    background-color: #FFF;
                    border: 1px solid #c6c7ca;
                    border-radius: 4px;
                    color: #414141;
                    font-size: 12px;
                    font-weight: 600;
                    height: 22px;
                    line-height: 20px;
                    padding: 0 5px;
                    position: absolute;
                    top: -7px;
                    cursor: pointer;
                    width: auto;

                    .slider_page_info {

                    }
                }
            }
        }
    }
    .wpp_row_view {
        margin: 0 -15px;
        .clearfix;

        .property_div {
            background-color: #fff;
            border: 1px solid #dedede;
            border-radius: 4px;
            float: left;
            margin: 0 0 15px 15px;
            padding: 10px;
            width: 31.6%;

            .wpp_overview_right_column {

                ul.wpp_overview_data {
                    margin: 0;
                    padding: 0 0 0 10px;
                    list-style: none;

                    li {

                        &.property_title {
                            margin: 0 0 5px;

                            a {
                                font-size: 16px;
                                color: #333;
                            }
                        }
                        span.attribute {
                            font-weight: 600;
                            margin-right: 5px;
                        }
                    }
                }
            }
            .wpp_overview_feps_column {

                .wpp_overview_data {
                    .clearfix-disable;
                    margin: 0;
                    padding: 0 0 0 10px;
                    list-style: none;

                    li {

                        span.attribute {
                            font-weight: 600;
                            margin-right: 5px;
                        }
                        &.actions {

                            ul {
                                .clearfix-disable;
                                margin: 10px 0 0 0;
                                padding: 0;
                                list-style: none;

                                li {
                                    display: inline-block;
                                    margin-right: 4px;
                                    
                                    a.button {
                                        .submit-button-style;
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .wpp_grid_view.wpp_property_view_result {
        .clearfix;

        .all-properties {
            margin-left: -15px;
            margin-right: -15px;

            .property {
                display: inline-block;
                float: left;
                margin-bottom: 15px;
                padding-left: 15px;
                padding-right: 15px;
                vertical-align: top;
                width: 25%;

                .property_div_box {
                    .box-shadow(0, 0, 5px, rgba(0, 0, 0, 0.15));
                    background-color: #FFF;
                    height: 100%;
                    padding-bottom: 44px;
                    position: relative;
                    width: 100%;

                    .wpp_overview_left_column {

                        .property_image {
                            text-align: center;

                            a.thumbnail {
                                .border-radius(0px);
                                border: medium none !important;
                                display: inline-block;
                                margin: 0 auto;
                                padding: 0;
                                position: relative;
                                height: auto;
                                width: auto;
                                max-width: 100%;

                                img {
                                    .transition(opacity, 0.15s, ease-in-out, 0s);
                                    height: auto !important;
                                    max-width: 100%;
                                }
                                &:hover {

                                    img {
                                        opacity: 0.8;
                                    }
                                }
                            }
                        }
                    }
                    .wpp_overview_right_column {

                        ul.wpp_overview_data {
                            margin: 0 0 10px;
                            padding: 0 10px;
                            list-style: none;

                            li {
                                color: rgba(65, 65, 65, 0.7);
                                font-size: 13px;

                                a {
                                    color: rgba(65, 65, 65, 0.7);
                                }
                                &.property_title {
                                    margin-bottom: 5px;

                                    a {
                                        .transition(color, 0.15s, ease-in-out, 0s);
                                        text-transform: uppercase;
                                        font-size: 13px;
                                        color: #414141;
                                        font-weight: 600;
                                        text-decoration: none;
                                        &:hover {
                                            color: #4a83db;
                                        }
                                    }
                                }
                                &.child_properties {
                                    border-top: 1px dashed #cbccd0;
                                    margin: 6px 0;
                                    padding: 4px 0 0;

                                    table {
                                        width: 100%;

                                        .property_child_row {
                                            background-color: #efefef;
                                            &:nth-child(2n) {
                                                background-color: #FFF;
                                            }
                                            td, th {
                                                padding: 3px 5px;
                                            }
                                            .property_child_price {
                                                text-align: right;
                                            }
                                        }
                                    }
                                }
                                a.button {
                                    background-color: #5bc0de;
                                    border-radius: 4px;
                                    color: #fff !important;
                                    display: inline-block;
                                    margin: 5px 0 0;
                                    padding: 3px 7px;
                                    text-decoration: none;
                                }
                            }
                        }
                        .property_bottom {
                            .clearfix;
                            background-color: #19294c;
                            border-top: 1px solid #c0c2c7;
                            height: 45px;
                            padding: 0 10px;
                            bottom: 0;
                            width: 100%;
                            position: absolute;
                            &:before {
                                background-color: #fff;
                                border-bottom: 1px solid #c0c2c7;
                                border-right: 1px solid #c0c2c7;
                                content: "";
                                display: block;
                                height: 10px;
                                position: absolute;
                                right: 25px;
                                top: -5px;
                                .rotate(45deg);
                                width: 10px;
                            }

                            .pb__left {
                                float: left;
                                width: 25%;
                                font-size: 12px;
                                line-height: 1;
                                padding: 7px 0 0;
                                color: #FFF;

                                ul {
                                    margin: 0;
                                    padding: 0;
                                    list-style: none;

                                    li {

                                        label {
                                            margin-right: 5px;
                                        }
                                    }
                                }
                            }
                            .pb__right {
                                float: right;
                                width: 75%;
                                text-align: right;

                                .property_price {
                                    color: #FFF;
                                    font-size: 16px;
                                    font-weight: 600;
                                    padding: 10px 0;
                                    line-height: 24px;
                                    text-align: right;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}/*wpp_property_overview_shortcode*/

.wpp_agents_content_agent_card {
    .clearfix;
    .border-radius(4px);
    .box-shadow(0, 0, 5px, rgba(0, 0, 0, 0.15));
    background-color: #FFF;
    border: 1px solid #c3c5c9;
    padding: 20px;
    height: auto;
    width: 100%;

    .wpp_agent_info_single_wrapper {
        .clearfix;
        position: relative;

        .wpp_agent_info_list {
            min-height: 110px;
            margin: 0 0 10px;
            padding: 0 0 0 135px;
            list-style: none;

            li {

                p {
                    margin: 0;
                }

                &.wpp_agent_stats_agent_image {
                    .box-shadow(0, 0, 5px, rgba(0, 0, 0, 0.3));
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 110px;
                    height: 110px;
                    .border-radius(100%);
                    overflow: hidden;

                    img {
                        max-width: 100%;
                        width: 100%;
                        height: auto;
                    }
                }
                &.wpp_agent_stats_display_name {
                    font-size: 16px;
                    color: #414141;
                    font-weight: 600;
                    margin: 0 0 5px;
                }
                &.wpp_agent_stats_widget_bio {

                }
                &.wpp_agent_stats_full_bio {

                }
            }
        }
        .wpp_agent_info_list {

            dt {
                float: left;
                margin-right: 5px;
            }
            dd {

                &:after {
                    display: block;
                    content: "";
                    clear: both;
                }
            }
        }
    }
}/*wpp_agents_content_agent_card*/

.shortcode_featured_properties {

    ul.wpp_featured_properties_shortcode {
        margin: 0;
        padding: 0;
        list-style: none;

        >li {
            .clearfix-disable;
            width: 20%;
            float: left;
            padding: 0 10px;
        }
    }
}/*shortcode_featured_properties*/

.wpp_feps_user_menu {

    ul {
        margin: 0 0 15px;
        padding: 0;
        list-style: none;
    }
}/*wpp_feps_user_menu*/

.widget,
.wpp_widget {
    background-color: #FFF;
    padding: 10px 20px;
    .border-radius(4px);
    border: 1px solid #c3c5c9;
    box-sizing: border-box;

    h3.widget-title,
    h2.widget-title {
        background-color: #edeeef;
        border-bottom: 1px solid #c3c5c9;
        color: #414141;
        font-size: 15px !important;
        font-weight: 600;
        line-height: 20px;
        overflow: hidden;
        height: 20px;
        padding: 10px 20px;
        box-sizing: content-box;
        margin-left: -20px;
        margin-bottom: 10px;
        margin-top: -10px;
        width: 100%;
        .round-corners(4px, 4px, 0, 0);
    }
    ul {
        padding-left: 25px;
    }
    .wpp_feps_user_menu {

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }
    .shortcode_featured_properties {

        ul.wpp_featured_properties_shortcode {
            margin: 0;
            padding: 0;
            list-style: none;

            li.shortcode_featured_properties  {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                    border: none;
                }

                .property_image {
                    text-align: center;

                    .property_overview_thumb {
                        display: inline-block;
                        height: auto;
                        margin-bottom: 5px;
                    }
                }
                ul.wp-caption-text {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li {

                        dl {
                            margin-bottom: 5px;
                            .clearfix;

                            dt {
                                float: left;
                                margin-right: 5px;
                            }
                            dd {

                            }
                        }
                    }
                }
            }
        }
    }
    &.widget_wpp_property_terms {

        .community_feature_list {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: inline-block;

                a {
                    background-color: #ededed;
                    color: #414141;
                    display: inline-block;
                    font-size: 14px;
                    line-height: 2;
                    margin: 0 5px 5px 0;
                    padding: 0 10px;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &.widget_wpp_property_stats {

        .wpp_feature_list {
            margin-bottom: 15px;
            &:last-child {
                margin: 0;
            }
        }
        h2 {
            font-size: 18px;
            margin-bottom: 5px;
            margin-top: 0;
        }
        .overview_stats {
            margin: 0;
            padding: 0;
            list-style: none;

            li {

                .attribute {
                    font-weight: 600;
                    margin-right: 5px;
                }
            }
        }
    }/*widget_wpp_property_stats*/
    &.widget_wpp_property_overview {

        .properties_pagination {

            .wpp_pagination_slider_status {

                .wpp_property_results_options {
                    display: inline;
                    line-height: 1.3;

                    .wpp_property_results {
                        display: block;
                        text-align: center;
                        margin: 0 0 5px;
                        width: auto;
                        float: none;
                        font-weight: 400;
                    }
                    .wpp_sorter_options {
                        display: block;
                        text-align: left;
                        line-height: 2;
                        width: auto;
                        float: none;

                        .wpp_sortable_link {
                            cursor: pointer;
                            font-size: 85%;
                        }
                    }
                }
            }
            .wpp_pagination_slider_wrapper {
                margin: 10px 0;
                .clearfix;

                .wpp_pagination_button {
                    float: left;
                    padding: 1px 7px;
                    border-radius: 2px;
                    background-color: #5bc0de;
                    color: #FFF;
                    margin: 0 5px 0 0;
                    cursor: pointer;
                }
                .wpp_pagination_slider {
                    background-color: #efefef;
                    border: 1px solid #c6c7ca;
                    .border-radius(2px);
                    .box-shadow-inset(0, 0, 2px, rgba(0, 0, 0, 0.15));
                    float: right;
                    height: 10px;
                    position: relative;
                    top: 6px;
                    width: auto;

                    .ui-slider-handle {
                        .transition(left, 0.15s, ease-in-out, 0s);
                        margin-left: -10px;
                        background-color: #FFF;
                        border: 1px solid #c6c7ca;
                        border-radius: 4px;
                        color: #414141;
                        font-size: 12px;
                        font-weight: 600;
                        height: 22px;
                        line-height: 20px;
                        padding: 0 5px;
                        position: absolute;
                        top: -7px;
                        cursor: pointer;

                        .slider_page_info {

                        }
                    }
                }
            }/*wpp_pagination_slider_wrapper*/

            .wpp_pagination_buttons_wrapper {
                margin-top: 10px;
                margin-bottom: 10px;

                .property-overview-navigation {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    text-align: center;

                    .pages {
                        margin-right: 10px;
                        display: inline-block;

                        ul {
                            margin: 0;
                            padding: 0;
                            list-style: none;

                            li {
                                display: inline-block;

                                a {
                                    background-color: #5bc0de;
                                    border: medium none;
                                    color: #fff;
                                    display: block;
                                    font-size: 14px;
                                    padding: 1px 7px;
                                    text-decoration: none;
                                }
                                &.current-page {

                                    a {
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }
                    .first-page-btn,
                    .previous-page-btn,
                    .next-page-btn,
                    .last-page-btn {

                        a {
                            background-color: #5bc0de;
                            border: medium none;
                            color: #fff;
                            display: block;
                            font-size: 14px;
                            padding: 1px 7px;
                            text-decoration: none;
                        }
                    }
                }
            }/*wpp_pagination_buttons_wrapper */

        }/*property pagination*/

        .wpp_property_view_result {

            .all-properties {
                margin-left: 0;
                margin-right: 0;

                .property {
                    width: 100%;
                    float: none;
                    padding-left: 0;
                    padding-right: 0;

                    .wpp_overview_left_column {

                    }
                    .wpp_overview_right_column {

                        .wpp_overview_data {
                            margin-bottom: 10px;
                            padding-left: 25px;
                        }
                    }
                }
            }
        }/*wpp_property_view_result*/

    }/*wpp property overview*/

    &.wpp_property_attributes {

        .wpp_search_elements {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                margin-bottom: 15px;

                &.submit {

                    .submit {
                        background-color: #337ab7;
                        border: 1px solid #2e6da4;
                        color: #FFF;
                        &:hover {
                            background-color: #286090;
                            border-color: #204d74;
                        }
                    }
                }
                &.seach_attribute_price {

                    .bootstrap-select {
                        width: 47% !important;
                        display: inline-block;
                    }
                }
            }
            .wpp_search_group {
                margin: 0;
                padding: 0;
                list-style: none;

                .wpp_search_form_element {
                    margin-bottom: 10px;
                    padding-bottom: 15px;
                    border-bottom: 1px dashed #cbccd0;

                    label.wpp_search_label {
                        font-size: 12px;
                        color: #b9b9b9;
                        text-transform: uppercase;
                        font-weight: 100;
                    }
                    .bootstrap-select {
                        width: 100%;

                        /*                        &:not([class*="col-"]),
                                                    &:not([class*="form-control"]),
                                                    &:not(.input-group-btn) {
                                                    width: 47%;
                                                    display: inline-block;
                                                }*/
                    }
                    input[type="text"] {
                        .default-input-style;

                        &.wpp_search_input_field_min,
                        &.wpp_search_input_field_max {
                            width: 48%;
                            display: inline-block;
                        }
                        &.wpp_range_input {
                            width: 47%;
                            display: inline-block;
                        }
                    }
                    .delimiter,
                    .wpp_dash {
                        width: 3%;
                        display: inline-block;
                        text-align: center;
                    }
                    .wpp_multi_checkbox {
                        margin: 0;
                        padding: 0;
                        list-style: none;

                        li {
                            margin-bottom: 0;

                            .wpp_search_label_second_level {
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }/*wpp property attributes */

    &.widget_featuredpropertieswidget,
    &.widget_latestpropertieswidget {

        .property_widget_block {
            background-color: #fff;
            border: 1px solid #c3c5c9;
            border-radius: 4px;
            .box-shadow(0, 0, 5px, rgba(0, 0, 0, 0.15));
            height: 100%;
            margin-bottom: 15px;
            padding: 10px;
            position: relative;
            text-align: center;
            width: 100% !important;

            .thumbnail {
                border: none;
                padding: 0;
                position: relative;
                margin-bottom: 5px;
                display: inline-block;
                &:after {
                    .box-shadow-inset(0, 2px, 5px, rgba(0, 0, 0, 0.35));
                    content: "";
                    display: block;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    z-index: 2;
                }
            }
            .title {

                a {
                    .transition(color, 0.15s, ease-in-out, 0s);
                    color: #414141;
                    font-size: 13px;
                    font-weight: 600;
                    text-decoration: none;
                    text-transform: uppercase;
                    &:hover {
                        color: #4a83db;
                    }
                }
            }
            .wpp_widget_attribute_list {
                margin: 0 0 5px;
                padding: 0;
                list-style: none;

                li {
                    line-height: 1.2;
                    margin-bottom: 5px;

                    .attribute {
                        font-weight: 600;
                    }
                }
            }
            .more {
                text-align: right;

                .btn.btn-info {
                    background-color: #337ab7;
                    border-color: #2e6da4;
                    color: #fff;
                    &:hover {
                        background-color: #286090;
                        border-color: #204d74;
                    }
                }
            }
        }
        .view-all {

            .btn {
                background-color: #337ab7;
                border-color: #2e6da4;
                color: #fff;
                &:hover {
                    background-color: #286090;
                    border-color: #204d74;
                }
            }
        }
    }/*widget latestpropertieswidget*/

    .wpp_agents_content_agent_card {
        margin-bottom: 15px;
        padding: 10px;

        .wpp_agent_info_single_wrapper {

            .wpp_agent_info_list {
                min-height: 0;
                padding: 0 0 0 90px;

                li {

                    &.wpp_agent_stats_agent_image {
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
    }/*widget wpp_agents_content_agent_card*/

    /*Feps widget*/
    .wpp_feps_step_tabs {
        margin-bottom: 5px !important;

        li {
            margin-bottom: 5px;
            padding: 5px 10px !important;
        }
    }
    .wpp_feps_form {
        color: #5a5a5a;
        line-height: 1.5;
        font-size: 12px;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            &.feps_property_input_fields {

                li {
                    border-bottom: 1px dashed #cbccd0;
                    margin-bottom: 10px;
                    padding-bottom: 15px;

                    label {
                        color: #b9b9b9;
                        font-size: 12px;
                        font-weight: 100;
                        text-transform: uppercase;
                    }
                    .wpp_image_upload {

                        .qq-upload-drop-area {
                            border: 2px dashed #ccc;
                            margin: 0 0 10px;
                            padding: 10px;
                            text-align: center;
                        }
                        .qq-upload-button {
                            background-image: none;
                            background-color: #337ab7;
                            color: #fff;
                            border: 1px solid #2e6da4;
                            .border-radius(4px);
                            cursor: pointer;
                            display: inline-block;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 1.42857;
                            margin-bottom: 5px;
                            padding: 6px 12px;
                            text-align: center;
                            vertical-align: middle;
                            white-space: nowrap;
                            &:hover {
                                background-color: #449d44;
                                border-color: #398439;
                                color: #fff;
                            }
                        }
                        ul.qq-upload-list {
                            display: block !important;
                            .clearfix;

                            li {
                                width: auto !important;
                                max-width: 50%;
                                padding: 0;
                                margin: 0;
                                display: inline-block !important;
                                border: none;

                                img {
                                    padding: 5px;
                                    height: auto;
                                    max-width: 100%;
                                    width: 100%;
                                    vertical-align: middle;
                                }
                            }
                        }
                    }
                    .wpp_feps_map {
                        margin-top: 10px;
                    }
                }
            }
        }
        input[type="text"] {
            .default-input-style;
        }
        .wpp_feps_submit_form {
            background-color: #337ab7;
            border: 1px solid #2e6da4;
            color: #FFF;
            &:hover {
                background-color: #286090;
                border-color: #204d74;
            }
        }
    }/*wpp_feps_form*/

    &.widget_agentwidget {

        .wpp_agent_info_single_wrapper {

            .wpp_agent_info_list {
                margin: 0;
                padding: 0;
                list-style: none;

                li {

                    &.wpp_agent_stats_display_name {
                        font-size: 18px;
                        font-weight: bold;
                        text-align: center;
                    }
                    &.wpp_agent_stats_agent_image {

                        img {
                            .border-radius(100%);
                            .box-shadow(0, 0, 5px, rgba(0, 0, 0, 0.8));
                            display: block;
                            margin: 0 auto 10px;
                            max-width: 100%;
                            height: auto;
                        }
                    }
                }
            }
            .wpp_agent_info_list {
                .clearfix;

                dt {
                    float: left;
                    margin-right: 5px;
                }
            }
        }
    }/*widget_agentwidget*/

    &.widget_gallerypropertieswidget {

        .sidebar_gallery_item {
            margin-bottom: 10px;
            text-align: center;

            a {
                display: inline-block;
                margin: 0 auto;
            }
        }
        .wpp_galleria_wrapper {
            margin: 0 auto;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    }/*widget_gallerypropertieswidget*/

}/*widget*/

/* Property page styles
----------------------------------------------------------------------------- */
article.property-page-template {

    h3.entry-subtitle {
        font-size: 22px;
        margin: 10px 0;
    }

    .property-page-container {
        background-color: #FFF;
        padding: 20px;
        .border-radius(4px);
        border: 1px solid #c3c5c9;
        box-sizing: border-box;

        .widget, 
        .wpp_widget {
            background-color: transparent;
            border: medium none;
            border-radius: 0;
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }

        .wpp_featured_image {
            width: 100%;
            margin-bottom: 20px;

            img {
                width: 100%;
                height: auto;
            }
        }

        .property_responsive_slideshow_box {
            margin-bottom: 20px;
        }

        .feature_lists {
            text-align: center;
            .clearfix;

            >div {
                border: 1px solid #ededed;
                display: inline-block;
                height: inherit;
                margin: 0 1% 20px;
                vertical-align: top;
                width: 47%;

                h2 {
                    border-bottom: 1px solid #ededed;
                    font-size: 20px !important;
                    margin: 0;
                    padding: 10px 0;
                    text-align: center;
                }
                ul {
                    margin: 0;
                    padding: 5px 10px 0;
                    list-style: none;

                    li {
                        max-width: 100%;
                        overflow: hidden;
                        display: inline-block;

                        a {
                            background-color: #ededed;
                            color: #414141;
                            display: inline-block;
                            font-size: 14px;
                            line-height: 2;
                            margin: 0 5px 5px 0;
                            padding: 0 10px;
                            text-decoration: none;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
        .property_meta_box {
            border: 1px solid #ededed;
            padding: 5px 20px;
            margin-bottom: 20px;

            h2 {
                border-bottom: 1px solid #ededed;
                font-size: 22px !important;
                padding: 0 0 5px;
                margin: 0 0 5px;
            }
        }

        #property_map,
        .wpp_supermap {
            .clearfix;

            .gm-style-iw,
            .gm-style {

                .wpp_google_maps_attribute_row_property_title {
                    font-size: 14px;
                    margin-bottom: 5px;
                    font-weight: 600;
                }
                .wpp_google_maps_infobox_table {

                    .wpp_google_maps_left_col {
                        padding-right: 10px;

                        .wpp_google_maps_attribute_row_directions_link {
                            display: none;
                        }
                    }
                    .wpp_google_maps_right_col {

                        ul {
                            margin: 0;
                            padding: 0;
                            list-style: none;

                            li {
                                display: inline-block;
                                margin: 0 0 5px;

                                .attribute {
                                    position: relative;
                                    margin: 0 5px 0 0;
                                    font-weight: 600;
                                    &:after {
                                        content: ":";
                                        position: relative;
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .wpp_the_content {
            margin-bottom: 20px;
        }
        .property_stats {

            &.list {
                border-top: 1px solid #ededed;
                border-left: 1px solid #ededed;
                border-right: 1px solid #ededed;
                margin: 0 0 20px;
                padding: 0;
                list-style: none;

                li {
                    .clearfix;
                    border-bottom: 1px solid #ededed;

                    .attribute,
                    .value {
                        padding: 1em;
                        display: block;
                        float: left;
                        width: 50%;
                    }
                    .attribute {
                        text-align: right;
                        font-weight: 600;
                    }
                    .value {
                        border-left: 1px solid #ededed;
                    }
                }
            }
            &.groups {

                .wpp_feature_list {
                    .clearfix;
                    border: 1px solid #ededed;
                    margin-bottom: 10px;

                    .wpp_stats_group {
                        border-bottom: 1px solid #ededed;
                        font-size: 20px;
                        margin: 0;
                        padding: 10px 0;
                        text-align: center;
                    }
                    .overview_stats {
                        margin: 0;
                        padding: 0;
                        list-style: none;

                        li {
                            .clearfix;
                            border-bottom: 1px solid #ededed;
                            &:last-child {
                                border: none;
                            }

                            .attribute,
                            .value {
                                padding: 1em;
                                display: block;
                                float: left;
                                width: 50%;
                            }
                            .attribute {
                                text-align: right;
                                font-weight: 600;
                            }
                            .value {
                                border-left: 1px solid #ededed;
                            }
                        }
                    }
                }
            }
        }

    }
}
/* Property page styles */

/*Property styles*/