/*
Avalon responsive styles
*/
/*Fonts*/
.glyphicon-font {
  font-family: 'Glyphicons Halflings';
}
.ubuntu-font {
  font-family: 'Ubuntu', sans-serif;
}
/*Fonts*/
.placeholder::-webkit-input-placeholder {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.placeholder:-moz-placeholder {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.placeholder::-moz-placeholder {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.placeholder:-ms-input-placeholder {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.placeholder:focus::-webkit-input-placeholder {
  color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
}
.placeholder:focus:-moz-placeholder {
  color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
}
.placeholder:focus::-moz-placeholder {
  color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
}
.placeholder:focus:-ms-input-placeholder {
  color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
}
.clearfix:before {
  display: block;
  content: "";
  clear: both;
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.clearfix-disable:before {
  display: none;
}
.clearfix-disable:after {
  display: none;
}
.default-input-style {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.default-input-style:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.submit-button-style {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -webkit-transition: all 0.15s ease-in-out 0s;
  -moz-transition: all 0.15s ease-in-out 0s;
  -o-transition: all 0.15s ease-in-out 0s;
  transition: all 0.15s ease-in-out 0s;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #19294c;
  border-color: #0b1a3a;
  color: #fff;
}
.submit-button-style:hover {
  background-color: #0b1a3a;
  border-color: #0b1a3a;
  color: #fff;
}
@media (max-width: 1200px) {
  /* Max width - 1000px */
  body main.main-content .container .frontpage-widgetaria-tabs .tab-content .tab-pane.property-search-defaul .wpp_shortcode_search_form .wpp_search_elements ul.wpp_search_group > li.seach_attribute_price .wpp_search_attribute_wrap .bootstrap-select {
    width: 46%;
  }
}
/* Max width - 1200px */
@media (max-width: 1000px) {
  /* Max width - 1000px */
  body {
    /*Header bar*/
    /*Header bar*/
    /* Header
        --------------------------------------------------------------------- */
    /* Header */
  }
  body .container {
    width: 100%;
  }
  body .header-bar button.close-bar-box {
    background: url("../images/close-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-size: 30px auto;
    border: medium none;
    cursor: pointer;
    display: block;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 0;
    width: 30px;
    z-index: 99;
  }
  body header .container .logotype {
    float: left;
  }
  body header .container .navigation-box {
    float: right;
    width: 80px;
    position: static;
  }
  body header .container .navigation-box .nav-button {
    display: block;
    float: right;
    cursor: pointer;
    width: 50px;
    height: 48px;
    position: relative;
  }
  body header .container .navigation-box .nav-button span {
    background-color: #FFF;
    display: block;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    height: 4px;
    width: 35px;
  }
  body header .container .navigation-box .nav-button span:first-child {
    margin-top: 10px;
    -webkit-transition: transform 0.3s ease-in-out 0s;
    -moz-transition: transform 0.3s ease-in-out 0s;
    -o-transition: transform 0.3s ease-in-out 0s;
    transition: transform 0.3s ease-in-out 0s;
  }
  body header .container .navigation-box .nav-button span:nth-child(2n) {
    -webkit-transition: opacity 0.3s ease-in-out 0s;
    -moz-transition: opacity 0.3s ease-in-out 0s;
    -o-transition: opacity 0.3s ease-in-out 0s;
    transition: opacity 0.3s ease-in-out 0s;
  }
  body header .container .navigation-box .nav-button span:last-child {
    -webkit-transition: transform 0.3s ease-in-out 0s;
    -moz-transition: transform 0.3s ease-in-out 0s;
    -o-transition: transform 0.3s ease-in-out 0s;
    transition: transform 0.3s ease-in-out 0s;
  }
  body header .container .navigation-box .navigation-wrapper {
    background-color: #3f3f3f;
    display: none;
    position: absolute;
    left: 0;
    margin: 0;
    top: 100%;
    width: 100%;
    z-index: 99;
  }
  body header .container .navigation-box .navigation-wrapper .site-header-menu {
    margin-bottom: 25px;
  }
  body header .container .navigation-box .navigation-wrapper .site-header-menu .main-navigation ul li {
    float: none;
    text-align: left;
  }
  body header .container .navigation-box .navigation-wrapper .site-header-menu .main-navigation ul li a {
    -webkit-transition: all 0.15s linear 0s;
    -moz-transition: all 0.15s linear 0s;
    -o-transition: all 0.15s linear 0s;
    transition: all 0.15s linear 0s;
    font-size: 18px;
    line-height: 1 !important;
    padding: 8px 20px !important;
    white-space: unset !important;
    opacity: 1;
    color: #FFF;
  }
  body header .container .navigation-box .navigation-wrapper .site-header-menu .main-navigation ul li a:hover {
    background-color: #efefef;
    color: #414141;
  }
  body header .container .navigation-box .navigation-wrapper .site-header-menu .main-navigation ul li ul.sub-menu {
    display: block;
    position: relative;
    top: 0;
    float: none;
    padding: 0 0 0 20px !important;
  }
  body header .container .navigation-box .navigation-wrapper .site-header-menu .main-navigation ul li ul.sub-menu:before {
    display: none;
  }
  body header .container .navigation-box .navigation-wrapper .site-header-menu .main-navigation ul li ul.sub-menu li {
    background-color: transparent;
  }
  body header .container .navigation-box .navigation-wrapper .site-header-menu .main-navigation ul li ul.sub-menu li:hover a,
  body header .container .navigation-box .navigation-wrapper .site-header-menu .main-navigation ul li ul.sub-menu li.current-menu-item a,
  body header .container .navigation-box .navigation-wrapper .site-header-menu .main-navigation ul li ul.sub-menu li.current-menu-parent a {
    background-color: transparent !important;
    color: #FFF !important;
  }
  body header .container .navigation-box .navigation-wrapper .site-header-menu .main-navigation ul li ul.sub-menu li.menu-item-has-children:after {
    display: none;
  }
  body header .container .navigation-box .navigation-wrapper .site-header-menu .main-navigation ul li ul.sub-menu li a {
    -webkit-transition: all 0.15s linear 0s;
    -moz-transition: all 0.15s linear 0s;
    -o-transition: all 0.15s linear 0s;
    transition: all 0.15s linear 0s;
    font-size: 18px;
    color: #FFF;
  }
  body header .container .navigation-box .navigation-wrapper .site-header-menu .main-navigation ul li ul.sub-menu li a:hover {
    background-color: #efefef !important;
    color: #414141 !important;
  }
  body header .container .navigation-box .navigation-wrapper .site-header-menu .main-navigation ul li ul.sub-menu li ul.sub-menu {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    float: none;
  }
  body header .container .navigation-box .navigation-wrapper .site-header-menu .main-navigation ul li ul.sub-menu li ul.sub-menu:before {
    display: none;
  }
  body header .container .navigation-box .navigation-wrapper .site-header-menu .main-navigation ul li ul.sub-menu li ul.sub-menu li {
    background-color: transparent;
  }
  body header .container .navigation-box .navigation-wrapper .site-header-menu .main-navigation ul li ul.sub-menu li ul.sub-menu li a {
    -webkit-transition: all 0.15s linear 0s;
    -moz-transition: all 0.15s linear 0s;
    -o-transition: all 0.15s linear 0s;
    transition: all 0.15s linear 0s;
    background-color: transparent;
    font-size: 18px;
    color: #FFF;
  }
  body header .container .navigation-box .navigation-wrapper .site-header-menu .main-navigation ul li ul.sub-menu li ul.sub-menu li a:hover {
    background-color: #efefef;
    color: #414141;
  }
  body header .container .navigation-box .navigation-wrapper .nav-additional:before {
    display: block;
    content: "";
    clear: both;
  }
  body header .container .navigation-box .navigation-wrapper .nav-additional:after {
    display: block;
    content: "";
    clear: both;
  }
  body header .container .navigation-box .navigation-wrapper .nav-additional .na__wrapper {
    float: none;
  }
  body header .container .navigation-box .navigation-wrapper .nav-additional .na__wrapper .additional-button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: 1px solid #fff !important;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    height: auto !important;
    line-height: 1;
    margin-bottom: 5px;
    padding: 5px 10px !important;
    text-align: center;
    text-indent: 0;
    width: 100%;
  }
  body header .container .navigation-box.active .nav-button span:first-child {
    transform: translateY(11px) rotate(45deg);
  }
  body header .container .navigation-box.active .nav-button span:nth-child(2n) {
    opacity: 0;
  }
  body header .container .navigation-box.active .nav-button span:last-child {
    transform: translateY(-11px) rotate(-45deg);
  }
  body header .container .navigation-box.active .navigation-wrapper {
    display: block;
  }
  body main.main-content .container .frontpage-widgetaria-tabs {
    display: none;
  }
  body main.main-content .container .content,
  body main.main-content .container .sidebar,
  body main.main-content .container .sidebar.sidebar_left,
  body main.main-content .container .sidebar.sidebar_right {
    float: none !important;
    width: 100%;
  }
  /* Property styles
    ------------------------------------------------------------------------- */
  .wpp_property_overview_shortcode .wpp_row_view .property_div {
    width: 47%;
  }
  .shortcode_featured_properties ul.wpp_featured_properties_shortcode > li .property_image img {
    width: 100% !important;
    height: auto !important;
  }
  /*shortcode_featured_properties*/
}
/* Max width - 1000px */
@media (max-width: 800px) {
  /* Max width - 800px */
}
@media (max-width: 640px) {
  /* Max width - 640px */
  body main.main-content .container .content article > .wpp_shortcode_search .wpp_search_elements ul.wpp_search_group > li {
    float: none;
    width: 100%;
  }
  body main.main-content .container .content article > .wpp_shortcode_search .wpp_search_elements ul.wpp_search_group > li .bootstrap-select {
    width: 100%;
  }
  /* Property styles
    ------------------------------------------------------------------------- */
  .wpp_property_overview_shortcode .wpp_row_view .property_div {
    width: 100%;
    margin: 0 0 15px;
  }
  .wpp_property_overview_shortcode .wpp_grid_view.wpp_property_view_result .all-properties .property {
    width: 100%;
  }
  /*wpp_property_overview_shortcode*/
  .shortcode_featured_properties ul.wpp_featured_properties_shortcode > li {
    width: 100%;
    float: none;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ddd;
  }
  .shortcode_featured_properties ul.wpp_featured_properties_shortcode > li .wp-caption-text li dl dt,
  .shortcode_featured_properties ul.wpp_featured_properties_shortcode > li .wp-caption-text li dl dd {
    float: none !important;
    display: inline-block;
  }
  /*shortcode_featured_properties*/
  /*property styles*/
}
@media (max-width: 400px) {
  /* Max width - 320px */
  /*property styles*/
  .wpp_property_overview_shortcode .wpp_grid_view.wpp_property_view_result .all-properties .property {
    width: 100%;
  }
  /*property styles*/
}
